@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* Colors */
    --white: hsl( 0, 0%, 100% );
    --slate-300: hsl( 212, 45%, 89% );
    --slate-500: hsl( 216, 15%, 48% );
    --slate-900: hsl( 218, 44%, 22% );

    --font-size-paragraph: 15px;

    --font-weight-regular: 400;
    --font-weight-bold: 700;

}

body {
    font-family: "Outfit", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--slate-300);
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--white);
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    color: var(--slate-900);
    font-weight: var(--font-weight-bold);
    font-size: 22px;
    line-height: 26px;
}

p {
    font-size: var(--font-size-paragraph);
    color: var(--slate-500);
    font-weight: var(--font-weight-regular);
}

@media (max-width: 350px) {
    .container {
        max-width: 80%;
    }
}